body {
    background: black;
}

h1 {
    color: white;
    text-underline-color: #0a0a0a;
    text-align: center;
}
li {
    color: plum;
}

ul {
    color: plum;
}

input {
    display: block;
    line-height: 150%;
    text-align: center;
}

label{
    display: block;
    line-height: 150%;
    color: plum;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
